<<<<<<< HEAD
body.dark-mode {
    background-color: #2b2b2b;
    color: #e4e6eb;
}
=======
body.dark-mode {
    background-color: #2b2b2b;
    color: #e4e6eb;
}
>>>>>>> 439815418e15c003cdd98710a46972befb55a351
